<mat-toolbar color="primary">
    <!-- <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      </button> -->

      <!-- This fills the remaining space of the current row -->
      <!-- <span class="navtitle">Ng-Cryptocurrency Markets</span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
          <button mat-button routerLink="/products">Regiser</button>
          <button mat-button routerLink="/dashboard">login</button>
      </div>
      <button mat-button  fxHide="false" fxHide.gt-sm>
       <mat-icon>menu</mat-icon>
      </button> -->

<div fxLayout="row" fxLayoutAlign="center center" >


</div>



</mat-toolbar>
