<mat-tab-group >
  <mat-tab label="Charts">
    <app-charts [symbol]="symbol"></app-charts>
  </mat-tab>

  <mat-tab label="Markets">
    <app-markets [symbol]="symbol"></app-markets>
  </mat-tab>

  <mat-tab label="News">
      <ng-template matTabContent>
          <app-news [symbol]="symbol"></app-news>
      </ng-template>
  </mat-tab>

  <mat-tab label="Social">
    <app-social></app-social>
  </mat-tab>

  <mat-tab label="Historical Data">
    <ng-template matTabContent>
     <app-historical [symbol]="symbol"></app-historical>
    </ng-template>
  </mat-tab>
</mat-tab-group>
